{% extends "base.html" %}
{% block title %}
    About
{% endblock %}

{% block body %}

<div class="text-center bg-body-tertiary">
    <div class="container py-5">
      <h1 class="text-body-emphasis">Обо мне (Вячеслав М.)</h1>
      <p class="col-lg-8 mx-auto lead">
        Проект выполнения ДЗ по CI_CD на GITHUB.</p>
		<p class="col-lg-8 mx-auto lead">
        Спасибо преподавателю - Леониду Орлову за интересные и полезные занятия.</p>
        <h2 class="text-body-emphasis">Курс OTUS "Системный аналитик - TeamLead"</h2>
      <p class="col-lg-8 mx-auto lead">
        <ul class="list-group">
            <li class="list-group-item"><a href="https://findsimilar.org" target="_blank">findsimilar.org</a></li>
            <li class="list-group-item"><a href="https://lavacactus.craftsman.lol" target="_blank">This project website</a></li>
            <li class="list-group-item"><a href="https://craftsman.lol" target="_blank">quill craftsman about website</a></li>
        </ul>
      </p>
        <h2 class="text-body-emphasis">О проекте</h2>
        <p class="col-lg-8 mx-auto lead">
            This is Open Source project with BSD-3-Clause license
        </p>
    </div>
  </div>
{% endblock %}